:root {
    --c1: #FF6B6B;
    --c2: #FFA94D;
    --c3: #FFD43B;
    --c4: #69DB7C;
    --c5: #38D9A9;
    --c6: #4DABF7;
    --c7: #5C7CFA;
    --c8: #9775FA;
    --c9: #F783AC;
    --f: #252525a8;
} 
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: geo;
}
@font-face {
    font-family: 'geo';
    src: url('/Main/fonts/Geomanist-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
